:root {
  --primary: #008c99;
  --p-color: #605d5d;
  --h-color: #555555;
  --e-color: #dcb14a;
  --font-color: #212529;
  --black: #000;
  --white: #fff;

}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Sniglet", system-ui;
}

img {
  max-width: 100%;
  display: block;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* =====================button=================== */
.button {
  padding: 8px 20px;
  background-color: var(--primary);
  color: var(--white);
  text-transform: capitalize;
  border-radius: 16px;
  border: transparent;
}

/* ======================header================== */
.navbar {
  padding: 10px 0;
  background-color: #f1f1f1;
  z-index: 100;
}

.navbar .navbar-nav .nav-item a {
  color: var(--primary);
  font-size: 18px;
  padding: 0 20px;
}

.navbar .user span {
  font-size: 25px;
  color: var(--primary);
}

/* ==================student============ */
.student table {
  border: 1px solid rgb(231, 229, 229);
}

.student table th,
td {
  border-bottom: 1px solid rgb(231, 229, 229);
}

.student table th {
  font-weight: 500;
  color: var(--font-color);
}

.student .model-btn button {
  margin-top: 50px;
}

.student .modal label {
  display: block;
  margin: 10px 0;
}

.student-list .trash {
  background-color: transparent;
  border: transparent;
  color: var(--primary);
}

/*=====================sidebar=============== */
.side_bar {
  margin-top: 70px;
  overflow-y: scroll;
  height: 100vh;
}

.side_bar ul li a {
  margin: 4px 0;
  padding: 3px 10px;
  /* width: 100%; */
  display: inline-block;
  text-transform: capitalize;
  color: var(--primary);
  background-color: rgb(248, 245, 245);
  border-radius: 10px;
}

/* ====================update_model============== */
.update_model {
  width: 400px;
  padding: 30px;
  background-color: var(--white);
  box-shadow: 0px 3px 10px rgb(170, 170, 170);
  position: fixed;
  top: 30px;
  left: 35%;
}

.update_model label {
  display: block;
  margin: 10px 0;
}

.update_model .closebtn {
  background-color: transparent;

}

.banner {
  background-image: url("https://htmldemo.net/kidschool/kidschool/images/slider/1.jpg");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner .banner-img img {
  /* width: 500px; */
  position: absolute;
  bottom: 0;
  right: 100px;
}

.banner .banner-data h2 {
  font-size: 78px;
  color: var(--white);
  line-height: 70px;
}

.banner .banner-data button {
  color: var(--primary);
  margin-top: 30px;
}

.banner .banner-data h3 {
  font-size: 48px;
  color: var(--white);
}

/* ==============list-car============= */
.list-card {
  padding: 20px;
  background-color: #f1f1f1;
  text-align: center;
  margin-top: 30px;
}
.list-card img{
  margin: 0 auto;
}

.list-card .card-data span {
  color: var(--h-color);
}
.list-card .card-data p {
  color: var(--h-color);
}

/* =====================login=================== */
.login{
  /* background-color: var(--primary); */
  height: 100vh;
}
.login .login-logo {
  height: 100vh;
  flex-grow: 1;
  justify-content: center;
  background-color: var(--primary);
}
.login .login-logo h2{
  color: var(--white);
}
.login-info .login-form{
  height: 100vh;
}
.login-info .card{
width: 400px;
}
.login-info .card label{
  display: block;
  margin: 20px 0;
}
.login-info .card button{
  background-color: var(--primary);
}